.TechOn{
    height: auto;
    width: 100%;
    padding: 40px 10%;
}
.TO-title{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
.TO-SubTitle{
    margin: 20px 0 10px;
}
.TO-Input{
    padding: 10px;
    font-size: 14px;
    width: 100%;
}
.btn-submit{
    padding: 10px 20px;
    margin-top: 20px;
}