.AdminPage{
    height: auto;
    width: 100%;
    padding: 40px 10%;
}

.Admin-body{
    width: 100%;
    height: auto;
}
.Admin-body h2{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.FormCategories{
    display: flex;
    flex-direction: column;
}
.FormCategories p{
    margin: 20px 0 5px;
}
.Input-category{
    height: 32px;
    font-size: 16px;
    width: 40%;
    padding: 0 5px;
    margin-bottom: 10px;
}
.FormCategories .btn-submit{
    margin: 20px 0;
    font-size: 16px;
    padding: 10px;
    width: 20%;
    cursor: pointer;
}

.ck-content{
    padding: 0 30px !important;
}

.error{
    color: red;
}

