.Feedback{
    height: auto;
    width: 100%;
    padding: 40px 10%;
}

.F-body table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.F-body tr{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 1fr 1fr;
    margin: 0;
    padding: 0;
}
.F-body td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.F-icon{
    cursor: pointer;
}
.F-curent{
    margin-top: 40px;
}
.F-subTitle{
    margin-top: 10px;
}
.Input-Feedback{
    padding: 5px 10px;
    font-size: 14px;
}
.textarea-Feedback{
    height: 200px;
    font-size: 14px;
    padding: 5px 10px;
}
/* .Input-commitment{
    font-size: 14px;
    padding: 5px;
}
.C-subTitle{
    margin-top: 10px;
} */